.header {
  width: 100%;
  background: url('/fundo_home.png');
  background-repeat: no-repeat;
  background-size: cover;
  padding: 1rem 0;
  display: flex;
}

.header-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo img {
  height: 50px;
  object-fit: contain;
}

.nav-links {
  display: flex;
  list-style: none;
  gap: 2rem;
}

.nav-links a {
  color: #85a6ff;
  text-decoration: none;
  font-size: 1.1rem;
  font-family: 'Pirata One', cursive;
  transition: color 0.3s;
}

.nav-links a:hover {
  color: #ffffff;
}
